* {
  box-sizing: border-box;
}

/* @media screen and (max-width: 500px) {
  div.example {
    display: none;
  }
} */

[class*="col-"] {
  float: left;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

/* .container {
  background: rgb(163, 64, 86);
} */

.taskList {
  display: table;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  min-width: 95%;
  max-width: 95%;
}

.header1 {
  /* background-color: rgb(248, 245, 245); */
  /* background-color: rgb(38, 168, 70); */
}

.header1::after {
  content: "";
  clear: both;
  display: table;
}

/* .manuIcon {
  position: absolute;
  margin-left: 3%;
  top: 4%;
  background-color: rgb(31, 194, 206);
} */

.manuIconEl {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 2rem;
}

/* .aapTitle {
  background-color: rgb(34, 194, 87);
} */

h3 {
  text-align: center;
}

.langVerSwitcher {
  font-size: 80%;
  /* background-color: rgb(248, 245, 245); */
}

.langIconGrup {
  /* margin-top: 3%; */
  /* margin-left: 17%; */
  /* background-color: rgb(141, 40, 40); */
}

.butonSwitcher {
  /* display: block; */
  padding-top: 5%;
  padding-left: 7%;
  /* margin-left: -15%; */
}



.options {
  /* position: absolute; */
  margin-left: 4%;
  cursor: pointer;
  margin: auto;
}

.mat-menu-item {
  font-size: 70%;
  width: 105px;
}

.language {
  font-size: 70%;
  width: 80px;
}

mat-card {
  width: 100%;
  margin-bottom: 5px;
  padding: 0;
  text-align: center;
  background-color: rgb(248, 245, 245);
}

.inputField {
  width: 40%;
  padding-top: 5px;
  font-size: 100%;
  margin: auto;
}

.deleteIconn {
  background-color: rgb(248, 245, 245);
  width: 3px;
  cursor: pointer;
}

.deleteIconn2 {
  background-color: white;
  width: 3px;
  cursor: pointer;
}

.taskPlus {
  font-size: 170%;
  font-weight: 900;
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
  z-index: auto;
}

.header2 {
  background-color: rgb(253, 251, 251);
  /* display: flex; */
  display: run-in;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

.countersButtons {
  display: flex;
  /* margin: auto; */
  padding-bottom: 5px;
  /* background-color: aqua; */
}

.green {
  background: green;
}

.red {
  background: red;
}

.counters {
  width: 70%;
  margin-left: 10%;
}

/* .search {
  display: inline-flex;
  width: 300%;
  margin-left: 2%;
  padding-right: 50%;
  background: rgba(59, 167, 91, 0.397);
} */

button {
  cursor: pointer;
}

.bagesToDo {
  margin-top: 2px;
  /* width: 2rem;
  height: 2rem;
  z-index: 1;
  font-size: 70%; */
}

.bages {
  text-align: center;
}

.badge {
  text-align: left;
  top: 5%;
  /* font-size: 70%; */
}

.badgeLoc {
  margin-left: 0px;
  background: yellow;
}

.badgeButton {
  width: 5.4rem;
  height: 2rem;
  padding: 0;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-size: 80%;
}

.badgeButton:hover {
  background-color: #ebe6e6;
  box-shadow: 1px 3px #888888;
}

.badgeButton:active {
  background-color: #ebe6e6;
  box-shadow: 1px 3px #888888;
  border: 0;
}

/* .counterDone {
  background: rgba(55, 175, 91, 0.397);
} */

.badgeButtonCointainer {
  margin-left: 20px;
}


.searchField {
  /* font-size: 90%; */
  /* margin: auto; */
  margin-left: 10px;
  /* background: rgba(55, 175, 91, 0.397); */
  text-align: center;
}

.header2Space {
  width: 38%;
}

.langVer {
  margin: auto;
  min-width: 27px;
  max-width: 27px;
  width: 27px;
  padding-right: 1%;
  /* margin-left: 0%; */
  /* background: lightskyblue; */
}
.verFlag {
  /* padding-top: 10px; */
  /* margin: auto; */
  width: 25px;
  height: 15px;
  border: 1px solid black;
}

.viewColumns {
  /* display: inline-block; */
  margin: auto;
  padding-right: 2%;
  /* background: rgb(134, 173, 168); */
}

.viewColumnSwitcher {
  display: block;
  max-width: 70px;
  min-width: 70px;
  width: 70px;
  float: right;
  font-size: 90%;
  /* background: rgb(67, 170, 113); */
}

.spaceTop {
  margin-top: 5px;
}

.spaceleft {
  margin-left: 5px;
}

table {
  width: 100%;
}

th {
  background: rgb(197, 193, 193);
  font-weight: 400;
  font-size: 100%;
  color: black;
}

td {
  font-size: 90%;
  /* font-size:2vmin; */
  background-color: rgb(248, 245, 245);
}

mat-paginator {
  background-color: rgb(253, 251, 251);
  /* background-color: rgb(201, 28, 28); */
}

i {
  cursor: pointer;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.taskName {
  padding-top: 3px;
}

.helper {
  width: auto;
}

.mat-column-checkBox {
  font-size: 75%;
}

.mat-column-name {
  width: 85%;
  padding-right: 10px;
  /* background: rgba(158, 153, 85, 0.521); */
}

.mat-column-priority {
  /* background: rgba(128, 128, 128, 0.521); */
  max-width: 88px;
  min-width: 85px;
  width: 85px;
  padding-right: 20px;
}
.select {
  max-width: 70px;
  min-width: 70px;
  width: 70px;
  font-size: 80%;
  /* background: rgba(28, 57, 185, 0.521); */
}

.statusIcon {
  width: 23px;
  height: 22px;
  padding-right: 1%;
}

.mat-column-date {
  /* background: rgba(128, 128, 128, 0.767); */
  max-width: 70px;
  min-width: 80px;
  width: 80px;
  padding-left: 5px;
}

.tableCell {
  font-size: 70%;
  /* background: rgb(166, 130, 199); */
  padding-left: 5px;
}

.mat-column-delete {
  max-width: 30px;
  min-width: 30px;
  width: 30px;
  padding-left: 5px;
}

.materialIconsDelete {
  position: relative;
  font-size: 210%;
  margin: auto;
  right: 7px;
}

/* .mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 5%;
} */
