<mat-card class="header text-center">
  <mat-card-title>
    <h3>To Do List</h3>
  </mat-card-title>

  <mat-card-content class="taskInptArea">
    <form class="input-field text-left">
      <mat-form-field>
        <h5>
          <input matInput placeholder="Enter task" #task (keyup.enter)="addTask(task)">
        </h5>
      </mat-form-field>

      <mat-form-field class="importanceLlevel ">
        <mat-select [(value)]="selected" placeholder="Importance level">
          <mat-option value="Normal" #opt1 (click)="setimportanceLlevel(opt1.value)">Normal</mat-option>
          <mat-option value="High" #opt2 (click)="setimportanceLlevel(opt2.value)">High</mat-option>
          <mat-option value="Very High" #opt3 (click)="setimportanceLlevel(opt3.value)">Very High</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="text-center">
        <i class="material-icons separateField" (click)="addTask(task)"> add</i>
      </div>

    </form>
  </mat-card-content>
</mat-card>

<div class="example-container mat-elevation-z8 taskList">
  <div class="separateField spaceTop">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>

  <table mat-table #table [dataSource]="dataSource" matSort>

    <div class="separateField">

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'yyyy-MM-dd HH:mm:ss'}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <i class="material-icons" (click)="deletingTask(element.$key)"> delete</i>
        </td>
      </ng-container>

      <ng-container matColumnDef="importance">
        <th mat-header-cell *matHeaderCellDef> Importance Level </th>
        <td mat-cell *matCellDef="let element"> {{ element.importance }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </div>
  </table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
  </mat-paginator>
</div>

<!-- <ul>
  <li *ngFor="let item of toDoListArray">
    {{ item.name }}
  </li>
</ul> -->
