<div class="container">
  <div class="mat-elevation-z13 taskList">
    <div class="aapTitle">
      <aside class="otions" [matMenuTriggerFor]="appOptions">{{options}}</aside>
      <!-- <i class="material-icons manuIcon" [matMenuTriggerFor]="appOptions"> menu</i> -->
      <!-- <button mat-button [matMenuTriggerFor]="appOptions" class="otions">Obcje</button> -->

      <mat-menu #appOptions="matMenu" class="options">
        <button mat-menu-item [matMenuTriggerFor]="language">{{lang}}</button>
        <button mat-menu-item [matMenuTriggerFor]="columns">{{cols}}</button>
      </mat-menu>

      <mat-menu #language="matMenu">
        <div>
          <button mat-menu-item (click)="changeLangVerToPl()" class="butonSwitcher">PL</button>
          <img src="../../assets//images/plFlag.png" alt="Polish version" class="verFlag">
        </div>
        <div>
          <button mat-menu-item (click)="changeLangVerToEn()" class="butonSwitcher">Eng</button>
          <img src="../../assets//images/engFlag.png" alt="English version" class="verFlag">
        </div>
      </mat-menu>

      <mat-menu #columns="matMenu">
        <button mat-menu-item (click)="showColumns()">{{show}}</button>
        <button mat-menu-item (click)="hideColumns()">{{hide}}</button>
      </mat-menu>

      <h2>{{ appTitle }}</h2>

      <div class="langVerSwitcher">
        <mat-radio-group>
          <mat-radio-button value="1" class="butonSwitcher" (click)="changeLangVerToPl()">
            <img src="../../assets//images/plFlag.png" alt="Polish version" class="verFlag">
          </mat-radio-button>
          <mat-radio-button value="2" class="spaceTop butonSwitcher" (click)="changeLangVerToEn()">
            <img src="../../assets//images/engFlag.png" alt="English version" class="verFlag">
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <mat-card>
      <mat-card-content>
        <mat-form-field class="inputField">
          <input matInput placeholder="{{taskPlaceholder}}" #task (keyup.enter)="addTask(task)" [(ngModel)]="value">
          <mat-icon *ngIf="value" matSuffix aria-label="Clear" (click)="value=''" class="deleteIconn">close</mat-icon>
        </mat-form-field>
        <i class="material-icons taskPlus" (click)="addTask(task)"> add</i>
      </mat-card-content>
    </mat-card>

    <div class="header2">
      <mat-form-field class="searchField">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{searchPlaceholder}}">
      </mat-form-field>

      <p>
        <button mat-raised-button matBadgeColor="none" class="badge" matBadge="{{tasksNumber}}" matBadgePosition="before" (click)="getFireData()">
          All
        </button>
      </p>

      <p>
    <button mat-raised-button matBadgeColor="warn" class="badge" matBadge="{{todoTasksNumber}}" matBadgePosition="before" (click)="showToDoTasks()">
          To Do
        </button>
      </p>

      <p>
        <button mat-raised-button color="primary" class="badge" matBadge="{{doneTasksNumber}}" matBadgePosition="before" (click)="showDoneTasks()">
          Done
        </button>
      </p>
    </div>

    <table mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="checkBox">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="!element.isChecked; else changeIcon" (click)="changeStatus(element.$key, element.isChecked)">
            <i class="material-icons materialIconsDelete">check_box_outline_blank</i>
          </span>
          <ng-template #changeIcon>
            <span (click)="changeStatus(element.$key, element.isChecked)">
              <i class="material-icons materialIconsDelete">check_box</i>
            </span>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columNameTitle}}</th>
        <td mat-cell *matCellDef="let element" class="taskName">
          <span>{{ element.name }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="isChecked">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><i class="material-icons">fiber_manual_record</i></th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="!element.isChecked; else changeIcon" (click)="changeStatus(element.$key, element.isChecked)">
                <img src="../../assets//images/circre.png" alt="English version" class="statusIcon">
            </span>
            <ng-template #changeIcon>
              <span (click)="changeStatus(element.$key, element.isChecked)" class="statusIcon">
                  <img src="../../assets//images/circre2.png" alt="English version" class="statusIcon">
              </span>
            </ng-template>
          </td>
        </ng-container>

      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef #priority mat-sort-header>{{columPriorityTitle}}</th>
        <td mat-cell *matCellDef="let element">
          <form>
            <mat-form-field class="select">
              <mat-select placeholder="{{element.priority}}" class="select">
                <mat-option value="{{columPriorityTitleValue1}}" #opt1 (click)="priorityUdate(element.$key, opt1.value)">{{columPriorityTitleValue1}}</mat-option>
                <mat-option value="{{columPriorityTitleValue2}}" #opt2 (click)="priorityUdate(element.$key, opt2.value)">{{columPriorityTitleValue2}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columDateTitle}}</th>
        <td mat-cell *matCellDef="let element" class="tableCell"> {{element.date | date:'yyyy-MM-dd HH:mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <div class="tabCell">.</div>
        <td mat-cell *matCellDef="let element">
          <i class="material-icons materialIconsDelete" (click)="deletingTask(element.$key)"> delete_forever</i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="footer"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="footer"></tr>
    </table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>
