.example-container {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.header {
  margin-top: 2%;
  padding: 3px;
  color: rgba(128, 128, 128, 0.726);

}

.taskInptArea {
  /* background: rgba(211, 211, 125, 0.678); */
  /* margin-left: 1%;
  margin-right:1%; */
  color: black;
  width: 100%;
}

.inputField {
  background: white;
  width: 70%;
  font-weight: 900;
}

.taskList {
  display: flex;
  margin-top: 2%;
  flex-direction: column;
  min-width: 300px;
  overflow: auto;
  max-height: 700px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.separateField {
  margin-left: 2%;
}

.spaceTop {
  margin-top: 2%;
}

i {
  cursor: pointer;
}

.importanceLlevel {
  margin-left: 2%;
  top: 10px;
}

.priority {
  /* background: rgba(36, 87, 180, 0.397); */
  width: 100px;
  min-width: 80px;
  right: 5px;
}
.select {
  width: 80px;
}
.delete {
  /* background: rgba(5, 184, 154, 0.678); */
  width: 50px;
  right: 5px;
}

.date {
  /* background: rgba(66, 144, 158, 0.397); */
  width: 100px;
  min-width: 80px;
  right: 5px;
}

.hour {
  /* background: rgba(177, 135, 88, 0.397); */
  width: 80px;
  min-width: 80px;
  right: 5px;
}
