/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  background-color: rgb(163, 163, 163);
  width: 100%;
}

@media screen and (min-width: 600px) {
  .header2 {
    background-color: rgb(253, 251, 251);
    display: flex;
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
  .searchField {
    /* font-size: 90%; */
    /* margin: auto; */
    width: 45%;
    /* padding-left: 5%; */
    /* background: rgba(47, 139, 59, 0.973); */
  }

  /* .searchField input {
    width: 80%;
    color: rgba(218, 195, 216, 0.397);
  } */
  .countersButtons {
    width: 50%;
    /* margin-left: 15%; */
    /* background: rgba(27, 171, 190, 0.397); */
  }
  .counters {
    padding-right: 5px;
    margin-right: 5px;
    /* background: rgba(189, 209, 9, 0.973); */
  }
  .searchInput {
    min-width: 55%;
  }
}

@media screen and (max-width: 500px) {
  .langVerSwitcher {
    width: 25%;
    font-size: 80%;
  }
  .langIconGrup {
    padding-left: 0;
    /* background-color: rgb(141, 40, 40); */
  }
  /* .priorityColumn {
    max-width: 88px;
    min-width: 85px;
    width: 85px;
    padding-right: 20px;
    background-color: rgba(25, 153, 132, 0.521);
  } */
  .select {
    max-width: 40px;
    min-width: 40px;
    width: 40px;
    font-size: 80%;
    /* background: rgba(28, 57, 185, 0.521); */
  }
}
