/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  background-color: rgb(163, 163, 163);
  width: 100%;
}

@media screen and (min-width: 600px) {
  .header2 {
    display: flex;
  }
  .searchField {
    /* font-size: 90%; */
    /* margin: auto; */
    width: 41.66%;
    padding-left: 5%;
  }

  /* .searchField input {
    width: 80%;
    color: rgba(218, 195, 216, 0.397);
  } */
  .countersButtons {
    width: 41.66%;
    /* background: rgba(55, 175, 91, 0.397); */
  }
  .counters {
    width: 70%;
    padding-left: 50px;
  }
  .searchInput {
    min-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .langVerSwitcher {
    width: 25%;
    font-size: 80%;
  }
  .langIconGrup {
    padding-left: 0;
    /* background-color: rgb(141, 40, 40); */
  }
  /* .priorityColumn {
    max-width: 88px;
    min-width: 85px;
    width: 85px;
    padding-right: 20px;
    background-color: rgba(25, 153, 132, 0.521);
  } */
  .select {
    max-width: 40px;
    min-width: 40px;
    width: 40px;
    font-size: 80%;
    /* background: rgba(28, 57, 185, 0.521); */
  }
}
